.products-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  height: 70%;
  @media screen and (max-width: $small-screen){
    grid-template-columns: 1fr;
  }

  .product-wrapper {
    display: flex;
    flex-direction: column;
    height: fit-content;

    .img-wrapper {
      img {
        border-radius: 4px;
        height: 300px;
      }
    }
  }
}